<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="Jonaslima_Outofstofck_catalog_model_layer" type="Jonaslima\Outofstock\Plugin\Catalog\Model\Layer" sortOrder="1000" />
    </type>
</config>